<div class="content-box scroll-anim">

  <h1 class="scroll-anim">Hola, soy Irene</h1>

  <p class="scroll-anim">
    Analista de datos <span class="highlight">especializada en Power BI y SQL</span>, con experiencia en <span class="highlight">pipelines de Big Data</span>.
  </p>

  <p class="scroll-anim">
    Muevo los datos desde su <span class="highlight">origen</span> hasta la <span class="highlight">decisión final</span>.
  </p>

  <br>
  <!-- BLOQUE 1: Análisis y visualización -->
  <h3 class="tech-section">Análisis y visualización</h3>
  <div class="tech-icons">
    <div class="tech-icon scroll-anim">
      <img src="assets/images/powerBI.svg" alt="Power BI Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/mysqlLogo.svg" alt="SQL Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/microsoftexcel.svg" alt="Excel Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/python.svg" alt="Python Logo" width="50">
    </div>
  </div>

  <!-- BLOQUE 2: Big Data -->
  <h3 class="tech-section">Big Data e ingeniería de datos</h3>
  <div class="tech-icons">
    <div class="tech-icon scroll-anim">
      <img src="assets/images/spark.svg" alt="Spark Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/apachekafka.svg" alt="Kafka Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/mongodb.svg" alt="MongoDB Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/docker.svg" alt="Docker Logo" width="50">
    </div>
  </div>

  <!-- BLOQUE 3: Base de desarrollo -->
  <h3 class="tech-section">Base de desarrollo</h3>
  <div class="tech-icons">
    <div class="tech-icon scroll-anim">
      <img src="assets/images/javasvg.svg" alt="Java Logo" width="50">
    </div>
    <div class="tech-icon scroll-anim">
      <img src="assets/images/angularLogo.svg" alt="Angular Logo" width="50">
    </div>
  </div>










