<h1>Mis Proyectos</h1>
<div class="projects-row">

  <!-- Proyecto 4 -->
  <div class="project-card">
    <h3>Dashboard vivienda Madrid</h3>
    <div class="carousel-container">
      <button class="carousel-btn prev" (click)="prevImage3()">&#10094;</button>
      <img [src]="projectImages3[currentIndex3]" 
           [alt]="'Imagen ' + (currentIndex3 + 1)"
           class="carousel-image">
      <button class="carousel-btn next" (click)="nextImage3()">&#10095;</button>
    </div>
    <p>Dashboard interactivo que analiza el coste de acceso a la vivienda en los 21 distritos de Madrid.Incluye además un análisis de la evolución de los precios entre 2023 y 2025.</p>
    <div class="habilities-used">
      <span class="tech-pill">Power BI</span>
      <span class="tech-pill">Power Query (M)</span>
      <span class="tech-pill">DAX</span>
      <span class="tech-pill">Modelado de datos</span>
    </div>
  </div>

  <!-- Proyecto 5 -->
  <div class="project-card">
    <h3>Pipeline de Big Data. Análisis de Criminalidad de Los Ángeles (LAPD)</h3>
    <div class="carousel-container">
      <button class="carousel-btn prev" (click)="prevImage4()">&#10094;</button>
      <img [src]="projectImages4[currentIndex4]" 
           [alt]="'Imagen ' + (currentIndex4 + 1)"
           class="carousel-image">
      <button class="carousel-btn next" (click)="nextImage4()">&#10095;</button>
    </div>
    <p>Pipeline de datos en tiempo real que procesa criminalidad pública del LAPD: desde la fuente (MongoDB) hasta el almacenamiento distribuido (HDFS), con enrutado por distrito y doble formato (JSON y Parquet). Incluye análisis en Python y un dashboard interactivo en Power BI.</p>
    <div class="habilities-used">
      <span class="tech-pill">MongoDB</span>
      <span class="tech-pill">Nifi</span>
      <span class="tech-pill">Spark</span>
      <span class="tech-pill">Kafka</span>
      <span class="tech-pill">Python</span>
      <span class="tech-pill">PowerBI</span>
    </div>
  </div>

  <!-- Proyecto 1 -->
  <div class="project-card">
    <h3>CuidaBot</h3>
    <div class="carousel-container">
      <button class="carousel-btn prev" (click)="prevImage()">&#10094;</button>
      <img [src]="projectImages[currentIndex]" 
           [alt]="'Imagen ' + (currentIndex + 1)"
           class="carousel-image">
      <button class="carousel-btn next" (click)="nextImage()">&#10095;</button>
    </div>
    <p>Aplicación de escritorio para optimizar el rendimiento del ordenador.</p>
    <div class="habilities-used">
      <span class="tech-pill">Java</span>
      <span class="tech-pill">JavaFX</span>
      <span class="tech-pill">MySQL</span>
      <span class="tech-pill">CSS</span>
    </div>
  </div>

  <!-- Proyecto 2 -->
  <div class="project-card">
    <h3>Gestor de Informes</h3>
    <div class="carousel-container">
      <button class="carousel-btn prev" (click)="prevImage1()">&#10094;</button>
      <img [src]="projectImages1[currentIndex1]" 
           [alt]="'Imagen ' + (currentIndex1 + 1)"
           class="carousel-image">
      <button class="carousel-btn next" (click)="nextImage1()">&#10095;</button>
    </div>
    <p>Aplicación de escritorio para buscar proyectos y generar informes Excel.</p>
    <div class="habilities-used">
      <span class="tech-pill">Java</span>
      <span class="tech-pill">JavaFX</span>
      <span class="tech-pill">MySQL</span>
      <span class="tech-pill">CSS</span>
    </div>
  </div>

  <!-- Proyecto 3 -->
  <div class="project-card">
    <h3>Control Horario</h3>
    <div class="carousel-container">
      <button class="carousel-btn prev" (click)="prevImage2()">&#10094;</button>
      <img [src]="projectImages2[currentIndex2]" 
           [alt]="'Imagen ' + (currentIndex2 + 1)"
           class="carousel-image">
      <button class="carousel-btn next" (click)="nextImage2()">&#10095;</button>
    </div>
    <p>Aplicación de escritorio para registrar jornada y generar informes PDF.</p>
    <div class="habilities-used">
      <span class="tech-pill">Java</span>
      <span class="tech-pill">JavaFX</span>
      <span class="tech-pill">MySQL</span>
      <span class="tech-pill">CSS</span>
    </div>
  </div>


  
</div>
